body, html {
    height: 100%;
  }

body {
    background-image: url("../images/concert.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#search-area {
    text-align: center;
    padding: 10px;
}

#band-input {
    margin: 5px;
}

h3 {
    text-align: center;
    font-style: italic;
}

.bandSearches {
    margin: 5px;
}